# The Oscars

## Great stories and great visual effects

#### Author: Ruturaj Kiran Vaidya

#### Data Source:

I selected the soccer dataset used in previous projects, as it has a lot of features to work with and it will be great for visualizations.

<ul>
<li>Dataset: <a>https://github.com/fivethirtyeight/data/tree/master/soccer-spi</a></li>

<li>Specific Dataset Link: <a>https://projects.fivethirtyeight.com/soccer-api/club/spi_matches.csv</a></li>
</ul>

In [3]:
# Imports
import pandas as pd

### Importing Dataset

In [4]:
matches = pd.read_csv("../data/external/spi_matches.csv")

In [8]:
print(matches.shape)
# Dropping NAs
matches.dropna(inplace = True)
matches.drop_duplicates(inplace=True)
# It's true that the dataset disfigures, but we need to do this anyways for end analysis
print(matches.shape)

(32278, 22)
(13044, 22)

In [9]:
matches.tail()

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
27120,2019-11-13,2105,Brasileiro Série A,Flamengo,Vasco da Gama,73.70,50.52,0.7759,0.0638,0.1603,...,8.6,0.6,4.0,4.0,2.28,2.29,1.37,1.06,4.20,4.20
27121,2019-11-15,1948,Australian A-League,Central Coast Mariners,Adelaide United,16.31,29.50,0.2657,0.4943,0.2400,...,15.1,24.0,1.0,3.0,1.76,3.10,1.08,2.34,1.05,3.15
27122,2019-11-16,1948,Australian A-League,Western United,Newcastle Jets,29.66,28.35,0.4613,0.2883,0.2504,...,21.2,24.9,0.0,1.0,1.43,1.22,2.32,1.33,0.00,1.05
27150,2019-11-16,2105,Brasileiro Série A,Santos,São Paulo,63.23,56.22,0.5011,0.2056,0.2933,...,1.0,0.0,1.0,1.0,1.45,1.29,0.54,2.27,1.05,1.05
27151,2019-11-16,2105,Brasileiro Série A,Fluminense,Atletico Mineiro,51.87,53.38,0.5337,0.2273,0.2390,...,67.5,5.7,1.0,1.0,0.96,0.62,1.38,0.85,1.05,1.05

In [10]:
matches.keys()

Index(['date', 'league_id', 'league', 'team1', 'team2', 'spi1', 'spi2',
       'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')